@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

* {
	box-sizing: border-box;
}
html {
    font-size: 16px; 
    line-height: 1.4rem;
}

header h1 {
    float: left;
    text-align: center;
    padding: 0 60px;
    color: rgb(112, 112, 112);
}

header h1 span {
    display: block;
    margin: 5px 0 0 0;
    font-size: 75%;
    color: rgb(165, 165, 165);
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.active {
    /* You said it didn't have to be pixel perfect */
    padding: 0 0 15px 0;
    border-bottom: solid 5px red;
}

nav ul li a {
    color: grey;
}

h1, h2 {
    font-family: 'Slabo 27px', serif;
    color: rgb(80, 80, 80);
}

p { font-family: 'Roboto', sans-serif; }

a { text-decoration: none; }

img {
	width: 100%;
    max-width: 100%;
}

footer {
    display: block;
    max-width: 950px;
    margin: 30px auto;
    padding: 30px 15px;
    border-top: 1px solid #ccc;
    font-size: .8rem;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(247, 247, 247);
    border-bottom: solid 1px #ccc;
    padding: 5px;
}

.photo-intro {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.photo-intro h2 {
    margin: 5px 0;
    font-size: 24px;
    border-bottom: solid 1px red;
    text-align: center;
}

.photo-intro blockquote {
    margin: 0;
    padding: 15px;
    border-left: solid 4px rgb(235, 235, 235);
}

.photo-container {
    display: block;
    margin: 0 auto;
    max-width: 950px;
    overflow: auto;
}

/* Clearfix for photo floats */
.photo-container::after {
    content: '';
    clear: both;
    display: table;
}

.photo-container img {
    width: 33%;
    /* 15px for padding because it will appear to be 30px when side-by-side */
    padding: 15px;
    box-sizing: border-box;
    float: left;
}
/* .baby-photo-container img{
    width:66%;
    float: left;
    max-width: 950px;
    padding: 15px;
    box-sizing: border-box; 
} */

    

.welcome{
    border-bottom: solid 1px red;
}
/* .first-paragraph-container :after{
    content: "";
    clear: both;
    display: table;
} */




