#banner{
    height: 200px;
    background-image: url('../img/games.jpeg');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
}

.platform-img {
    height: 150px;
    width: auto;
    margin: 0 auto;
}

footer ul li{
    list-style: none;
    display: inline-block;
    font-size: 36px;

}
footer ul li a{
    color: white;
}

footer ul li a:hover{
    color: rgb(0, 4, 255);
}
#platform-Words{
    border: 10px solid blue;
    border-radius: 80px;
    background-color:rgb(153, 153, 153);
    text-align: center;
    position: relative;
    min-height: 400px;
    line-height: 400px;
}

#platform-Words h3 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
#top-sellers ol li{
    font-size: 20px;
}
#platforms p{
    font-size: 20px;
}
#platform-about{
    border: 10px solid green;
    border-radius: 80px;
    background-color:rgb(153, 153, 153);
    text-align: center;
    position: relative;
    min-height: 400px;
    line-height: 400px;
}
#platform-about h3 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


